.todolist{
  margin: 0 auto;
  width: 500px;
  padding: 24px;
  background-color:rgba(39, 113, 173, 0.322);
  ul{
    list-style: none;
    li{
      margin-bottom: 12px;
      color: orange;
      .status{
        display:inline-block;
        width: 12px;
        height: 12px;
        background-color: #fff;
        border-radius: 50%;
        margin-right: 8px;
        &:hover{
          cursor: pointer;
        }
        &.active{
         background-color: rgb(14, 24, 83);
        }
      }
      .li{
        margin-right: 8px;
      }
      .num{
        color: red;
      }
    }
  }
}